{% extends "tienda/base.html" %}

{% block title %}Buscar departamento{% endblock %}

{% block content %}
<h2>Buscar departamento</h2>

<form method="get">
    <input type="text" name="nombre" placeholder="Nombre del departamento">
    <br><br>
    <button type="submit">Buscar</button>
</form>

{% if resultado %}
    <h3>Resultados</h3>
    <ul>
        {% for departamento in resultado %}
            <li>
                <strong>{{ departamento.nombre }}</strong><br>
                N°: {{ departamento.nro_departamento }}<br>
                Email: {{ departamento.email_dpto }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
