body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    background: #0071ce;
    color: white;
    padding: 15px 0;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* CONTENEDOR */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* TITULOS */
.section-title {
    margin: 30px 0 20px;
}

/* CARDS */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card-text p {
    color: #444;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}

/* BOTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #ffc220;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

/* FOOTER */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* ====== DETALLE DE PAGINA ====== */

.detail-container {
    background: #ffffff;
    color: #222;
    padding: 30px;
    margin: 40px auto;
    max-width: 900px;
    border-radius: 10px;
}

.detail-content {
    line-height: 1.7;
    font-size: 16px;
}

.detail-image {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.link-btn{
    background: none;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    cursor: pointer;
    margin: 0 12px;
    padding: 0;
}
.link-btn:hover{
    color: #93c5fd;
}
